<!doctype html>
<html>
<head>
<script src="angular.js"></script>
<script src="script filter.js"></script>
<style>
        body{
            font-family: arial;
        }
        table{
            border-collapse:collapse;
        }
        td{
            border: 1px solid black;
                padding :5px;
        }
        th{
            border: 1px solid black;
                padding :5px;
                text-align: left;
        }
       </style>
</head>
<body ng-app="myModule">
    <div ng-controller="myController">
        Rows to display: <input type="number" step="1" min="0" max="5" ng-model="rowLimit"/>  
       <table>
           <thead>
               <tr>
                   <th>Name</th>
                   <th>Date of Birth</th>
                   <th>Gender</th>
                   <th>Salary(number)</th>
                   <th>Salary(currency)</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="employee in employees | limitTo :rowLimit">
                   <td>{{ employee.name | uppercase }}</td>
                   <td>{{ employee.dateofbirth | date:"dd/MM/yyyy"}}</td>
                   <td>{{ employee.gender | lowercase}}</td>
                   <td>{{ employee.salary | number:2}}</td>
                   <td>{{ employee.salary | currency}}</td>
               </tr>
           </tbody>
       </table>
</div>
</body>

</html>